<div class="partners-container">
  <header-container></header-container>
  <div class="partners-gallery">
    <div class="partners-gallery-card">
      <a
        href="https://instagram.com/___brei___?igshid=OGQ5ZDc2ODk2ZA=="
        target="_blank"
        rel="noreferrer noopener"
        class="partners-link"
      >
        <img
          alt="image"
          src="/assets/playground_assets/brei-1500w.jpeg"
          class="partners-image"
        />
      </a>
      <h2 class="partners-text">Brei</h2>
      <span class="partners-text01">
        Local partner - Japanese and Korean Style Eyebrow Embriodery and
        Lashlift
      </span>
    </div>
    <div class="partners-gallery-card1">
      <a
        href="https://instagram.com/_____tofu._____?igshid=OGQ5ZDc2ODk2ZA=="
        target="_blank"
        rel="noreferrer noopener"
        class="partners-link1"
      >
        <img
          alt="image"
          src="/assets/playground_assets/1.png"
          class="partners-image1"
        />
      </a>
      <h2 class="partners-text02">Tofu</h2>
      <span class="partners-text03">
        Local partner - Japanese and Korean Style Aesthetics Facial Salon
      </span>
    </div>
    <div class="partners-gallery-card2">
      <a
        href="https://www.madelinecol.com"
        target="_blank"
        rel="noreferrer noopener"
        class="partners-link2"
      >
        <img
          alt="image"
          src="/assets/playground_assets/screenshot%202023-05-22%20at%2012.01.24%20pm-1500h.png"
          class="partners-image2"
        />
      </a>
      <h2 class="partners-text04">Madeline Col</h2>
      <span class="partners-text05">
        Local partner - Korean skin care and beauty-related equipments
        distributor!
      </span>
    </div>
    <div class="partners-gallery-card3">
      <a
        href="http://rnmeskin.net"
        target="_blank"
        rel="noreferrer noopener"
        class="partners-link3"
      >
        <img
          alt="image"
          src="/assets/playground_assets/screenshot%202023-05-20%20at%2012.29.54%20pm-1500h.png"
          class="partners-image3"
        />
      </a>
      <h2 class="partners-text06">Renewme Clinic</h2>
      <span class="partners-text07">
        Korean partner - Skin treatment one stop service for
        all skin problems!
      </span>
    </div>
    <div class="partners-gallery-card4">
      <a
        href="https://eng.idhospital.com"
        target="_blank"
        rel="noreferrer noopener"
        class="partners-link4"
      >
        <img
          alt="image"
          src="/assets/playground_assets/rsz_screenshot_2023-05-22_at_120956_pm-1500h.png"
          class="partners-image4"
        />
      </a>
      <h2 class="partners-text08">ID Hospital</h2>
      <span class="partners-text09">
        Korean partner - Great variety of plastic surgery procedures at great value!
      </span>
    </div>
    <div class="partners-gallery-card5">
      <a
        href="https://ppeumen.com"
        target="_blank"
        rel="noreferrer noopener"
        class="partners-link5"
      >
        <img
          alt="image"
          src="/assets/playground_assets/rsz_1screenshot_2023-05-22_at_120744_pm-1500h.png"
          class="partners-image5"
        />
      </a>
      <h2 class="partners-text10">PPEUM Clinic</h2>
      <span class="partners-text11">
        Korean partner - Choose from a huge selection of aesthetics medicine
        treatments!
      </span>
    </div>
  </div>
</div>
